<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111學年度明新科技大學資管系四技甄選【商管群】術科考試</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center h1 p-1 mt-5" style="margin-bottom:11rem">
        111學年度明新科技大學資管系四技甄選【商管群】術科考試
    </div>
    <div class="container">
        <main role="main" class="test pb-3 align-items-center justify-content-center d-flex flex-column">
            @RenderBody()
        </main>
    </div>
</body>
</html>
