<div class="card p-2 mb-5 card-width">
    <div class="text-center">
        <a href="2020術科原始檔.docx">試題檔案下載</a>
    </div>
</div>

<div class="text-center font-weight-bold h4">
    請將試題檔案檔名更改為答題檔案檔名 <span class="text-danger">准考證號碼-姓名</span>
</div>
<div class="h5">
    例如：2080260099-曾國霖.docx
</div>

<div class="card p-2 card-width mt-5">
    <form method="post" enctype="multipart/form-data">
        <div class="title text-center">
            答題檔案上傳
        </div>
        <div class="text-center py-3">
            <input name="file" type="file" value="" id="file" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" id="upload-btn">上傳</button>
        </div>
    </form>
</div>